<body bgcolor = #d0e4fe><form action="http://localhost/~harmanpreet/cgi-bin/box" method="GET">

<font color = red size = 6> <center>Create a Box</font><br/><br/><br/>
Db: <input type="text" name="DatabaseName"/>
Shapename: <input type="text" name="shapeName"/>
ShapeType: <input type="text" name="shapeType"/>
xmin: <input type="text" name="xmin"/>
xmax: <input type="text" name="xmax"/>
ymin: <input type="text" name="ymin"/>
ymax: <input type="text" name="ymax"/>
zmin: <input type="text" name="zmin"/>
zmax: <input type="text" name="zmax"/>

<input type="submit" value = "Submit" /></center>
</form>
